<div id="clearance" class="sign-up center-layout">
  <a href="/auth/facebook" class="btn icon-btn btn-block btn-large btn-facebook"><span class="icon"><%= fa_icon "facebook" %></span>Log in with Facebook</a>
  <hr>
  <div class="or-hr center-content">or</div>

    <%= render partial: '/sessions/form' %>
    <hr>
    Don’t have an account?
		<% if Clearance.configuration.allow_sign_up? %>
		  <%= link_to t(".sign_up"), sign_up_path %>
		<% end %>
</div>