<div class=header>
  
</div>
<div class="big-title">
  <div class="big-title-header caps">List Your Space</div>
  <div class="big-title-subheader">Waterbnb lets you make money renting out your place.</div>
</div>
<%= render 'form' %>