<div id="sub-container">
	<div id="sidebar">
		<div id="sidebar-avatar">
			<%= image_tag @user.avatar, alt: "#{@user.name}" %>
		</div>
	</div>
	<div id="page-content">
		<h1>Hey, I'm <%= @user.name %>!</h1>
		<p><b>Member since <%= @user.created_at.strftime("%B %Y") %></b></p>
		<% if logged_in? && @user.id == current_user.id %>
			<p><a href="/users/<%= @user.id %>/edit">Edit profile</a></p>
		<% end %>
	</div>
</div>