<div class="fullscreen-bg">
	<%= video_tag(["home.webm", "home.mp4"], class: "fullscreen-bg__video", poster: "home_videoframe.png", autoplay: true, loop: true )%>
</div>

<!--div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div-->