<%= provide(:page, 'home') %>
<div class="fullscreen-bg">
	<%= video_tag(["home.webm", "home.mp4"], class: "fullscreen-bg__video", poster: "home_videoframe.png", autoplay: true, loop: true )%>
	
</div>
<div class="big-title">
	<div class="big-title-header caps">Welcome Home</div>
	<div class="big-title-subheader">Rent unique places to stay from local hosts in 190+ countries.</div>
</div>
<!--div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div-->
