<%= provide(:page, 'home') %>
<div class="fullscreen-bg">
	<%= video_tag(["home.webm", "home.mp4"], class: "fullscreen-bg__video", poster: "home_videoframe.png", autoplay: true, loop: true )%>
</div>
<div class="home-search center-content">
	<form action="<%= listings_path %>">
		<input type="text" class="form-control" placeholder="Where do you want to go?" style="width:60%;" name="search">
		<input type="submit" value="Search" class="btn btn-large btn-pink">
	</form>
</div>
<!--div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div-->

<!-- <div class="fullscreen-clear"></div> -->

<div id="listing-container">
	<% if @listings %>
		<div id="listing-main" class="full-width">
			<%= render 'listings/listing_item', object: @listings %>
		</div>
	<% end %>
</div>
