/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require home
 *= require_self
 */

 $dark-grey: #565a5c;
 $medium-grey: #C4C4C4;
 $medium-light-grey: #DCE0E0;
 $light-grey: #f5f5f5;

body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	background-color: $light-grey;
}

nav {
	margin: 0;
	padding: 0;
}

.nav-logo {
	float: left;
	padding: 15px;
}

.nav-logo-border {
	border-right: 1px solid $medium-light-grey;
}

.nav-white {
	background-color: white;
}

.nav-search {
	background: url('search-icon.png') no-repeat;
	float: left;
	margin-top: 22px;
	margin-left: 20px;
	padding-left: 35px;
	height: 25px;
	div {
		margin: 0;
		padding: 0;
		display: inline;
		font-size: 0.8em;
		color: $dark-grey;
	}
}

.nav {
	float: right;
	margin: 0;
	padding: 0;
	div {
		float: right;
		text-align: center;
		color: $dark-grey;
		display: inline;
		font-size: .8em;
		padding: 24px 20px 16px 20px;
		height: 25px;
		border-left: 1px solid $medium-light-grey;
		vertical-align: middle;
		a, a:visited {
			color: $dark-grey;
			text-decoration: none;
		}
	}
	.host {
		border: solid 2px $medium-grey;
		border-radius: 2px;
		padding: 5px 12px;
	}
	.host:hover {
		background-color: rgba(0,0,0,0.05)
	}
}

.clearfix {
	clear: both;
}

.avatar {
	width: 24px;
	height: 24px;
	border: 2px solid $medium-grey;
	border-radius: 50%;
	margin: -3px 0 0 10px;
	vertical-align: middle;
}

.center {
	text-align: center;
}