.nav-home {
  float: right;
  margin: 0;
  padding: 0;
  div {
    float: right;
    text-align: center;
    color: white;
    display: inline;
    font-size: .95em;
    padding: 24px 20px 16px 20px;
    height: 25px;
    vertical-align: middle;
    a, a:visited {
      color: white;
      text-decoration: none;
    }
  }
  .host {
    border: solid 2px white;
    border-radius: 2px;
    padding: 5px 12px;
  }
  .host:hover {
    background-color: rgba(0,0,0,0.35)
  }
}

.avatar-home {
  border: 2px solid white !important;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 600px;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
}

.home-search {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  z-index: 0;
  text-align: center;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}