@import "variables";

/* ---- Listing ---- */

#listing-header {
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	background-color: white;
	padding: 20px;
	position: relative;
}

.listing-header-user {
	float: left;
	width: 15%;
}

#listing-header-detail-container {
float: left;
width: 55%;
}

#listing-header-booking {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	height: 150px;
	border-left: 1px solid $medium-light-grey;
	border-right: 1px solid $medium-light-grey;
	background-color: white;
}

#listing-header-price {
	box-sizing: border-box;
	color: white;
	background-color: rgba(60,63,64,0.9);
	margin-top: -40px;
	height: 40px;
	padding: 5px 10px;
}

.listing-header-detail {
	float: left;
	width: 25%;
}

.fa-listing {
	font-size: 2em;
}

.fa-color-yellow {
	color: #ffb400;
}

.listing-header-avatar, .listing-item-avatar {
	border-radius: 50%;
}

.listing-header-avatar {
	width: 75px;
}

.listing-item-avatar {
	width: 50px;
	border: 2px white solid;
}

.listing-location {
	margin: -10px 0 10px 0;

}

#listing-body {
	margin-top: 30px;
}

#listing-container {
	display: flex;
	flex-direction: row;
}

#listing-main {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	width: 60%;
	flex-wrap: wrap;
}

#listing-map {
	width: 40%;
	background-image: url('map.png');
	height: auto;
}

.listing-item {
	max-width: 380px;
	padding-bottom: 10px;
	margin: 20px 0 20px 20px;
}

.listing-item-home {
	margin-right: 20px;
}

.listing-item-image {
	max-height: 255px;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.listing-item-title {
	font-size: 1.2em;
	margin-bottom: 10px;
	a {
		color: $dark-grey;
	}
}

.listing-item-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.listing-item-user {
	padding-right: 20px;
	margin-top: -67px;
}

#listing-thumbnil {
	display: flex;
}

.listing-thumbnail-image {
	height: 200px;
}

.reservation-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reservation-item {
	width: 120px;
}